.container {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  background-color: red;
  display: grid;
  /* aspect-ratio: 1 / 1; */
  grid-template-columns: repeat(16, 1fr);
  /* justify-items: center; */
  /* align-items: center; */
}

.grid-divs {
  background-color: white;
  height: 100%;
  width: 100%;
  /* aspect-ratio: 1 / 1; */
}

.pink {
  background-color: black;
}
