* {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  fs
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container {
  border: 5px solid black;
  margin: auto;
  width: 800px;
  height: 800px;
  display: flex;
}

.div-columns {
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 100%;
  width: 100%;
}

#button {
  margin: auto;
  padding: 20px;
  font-size: 24px;
}

.grid-divs {
  background-color: white;
  height: 100%;
  width: 100%;
}

.filled {
  background-color: black;
}
